<footer class="bg-light text-center text-lg-start mt-auto py-3 shadow-sm">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">

    <div>
        <small class="text-muted">
            © 2025 Birthday Reminder App |
            <a href="https://t.me/Belnitskii" target="_blank" class="text-primary text-decoration-none">
                <i class="bi bi-telegram"></i> Telegram
            </a> |
            <a href="https://github.com/Belnitskii" target="_blank" class="text-primary text-decoration-none">
                <i class="bi bi-github"></i> GitHub
            </a>
            <br/>
            Also try my
            <a href="https://t.me/Central_Bank_Exchange_Rate_bot" target="_blank" class="text-primary text-decoration-none">
                <i class="bi bi-currency-exchange"></i> Currency Bot
            </a>
            — a Telegram bot with real-time exchange rates and charts from Russia's Central Bank."
        </small>
    </div>
</footer>