<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>User list</h1>
<a href="/account">
    <button type="button">Personal Account</button>
</a>
<form action="admin-form-user">
    <button>Add new user</button>
</form>
<table border="1">
    <tr>
        <th>UserName</th>
        <th>Email</th>
        <th>Role</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.role}"></td>
        <td>
            <form th:action="@{/admin/edit-user/{id}(id=${user.id})}" method="get">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input type="submit" value="Edit">
            </form>
        </td>
        <td>
            <form th:action="@{/admin/delete-user}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input type="hidden" name="id" th:value="${user.id}">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
</table>
<form th:action="@{/logout}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <button type="submit">Logout</button>
</form>
</body>
