<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <title>Edit Person</title>
</head>
<body>
<h1>Edit Person</h1>
<form th:action="@{/person/update}" method="post">
    <input type="hidden" name="id" th:value="${person.id}">

    <label>Name:
        <input type="text" name="name" th:value="${person.name}" required>
    </label>
    <br>

    <label>Birthday:
        <input type="date" name="birthdayDate" th:value="${person.birthdayDate}" required>
    </label>
    <br>

    <button type="submit">Save</button>
</form>

<a href="/person/list">Back to list</a>
</body>
</html>